.text-field {
    -fx-prompt-text-fill: #888888;
    -fx-font-size: 12px;
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 5px;
    -fx-border-color: #009e4d;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 8px;
}

.text-field:hover,
.text-field:focused {
    -fx-border-color: #999999;
}

.text-field:focused {
    -fx-border-color: grey;
}

.text-field:focused .prompt-text {
    -fx-text-fill: #888888;
}

.button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color:  #009e4d;
    -fx-padding: 8px 16px;
    -fx-border-width: 2px;
}

.toggle-button{
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color:  #009e4d;
    -fx-border-width: 2px;
}
.toggle-button:hover{
    -fx-background-color:  #009e4d;
    -fx-text-fill: white;
    -fx-border-color: transparent;
}
.toggle-button:pressed{
    -fx-background-color: white;
    -fx-translate-y: 1px;
}


.button:hover {
    -fx-background-color:  #009e4d;
    -fx-text-fill: white;
    -fx-border-color: transparent;
}

.button:pressed {
    -fx-background-color: white;
    -fx-translate-y: 1px;
}

.choice-box{
    -fx-background-color:white;
    -fx-border-color: #009e4d;
    -fx-border-width:2px;
    -fx-border-radius:5px;
}
.choice-box:hover{
    -fx-background-color:  #009e4d;
    -fx-text-fill: white;
    -fx-border-color: transparent;
}

.choice-box:pressed{
    -fx-background-color: white;
    -fx-translate-y: 1px;
}
